.card {
    width: 500px;
    border: none;
    /* border-radius: 10px; */
    /* background-color: #fff; */
    margin: 10px 30px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}

.ingredients {
    margin:4px 5px;
    color: white;
    text-align: center;
    height: 35px;
    width: auto;
    background-color: #484848;
    border-radius: 20px;
    display: inline-block;
    padding: 1.5%;
}
.ingredients:hover {
    background-color: #7986cb ;
    color: white;
}

.instructions {
    margin: 5px 0px;
    font-size: 20px;
    color: #2C2C2C;
}
.recipeImage {
    max-width: 500px;
    max-height: 300px;
    border-radius: 50px 50px 0 0;
    width: auto;
    height: 300px;
    margin: 0px;
}

.labelClass {
    color: #424242;
    font-size: 15px;
}
